@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --darkBG: #12131d;
  --darkText: #d8d8d8;
  --gradientBG: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  --fontStack: "Poppins", sans-serif;
  --textPurple: #d600a6;
  --boxShadow: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --darkBG: #d8d8d8;
  --darkText: #12131d;
  --gradientBG: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  --fontStack: "Poppins", sans-serif;
  --textPurple: #d600a6;
  --boxShadow: rgba(100, 100, 100, 0.5);
}

html {
  background-color: var(--darkBG);
  padding: 0 !important;
  margin: 0;
  left: 0;
  right: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  overflow-x: hidden;
}

.bgSetting {
  background-color: var(--darkBG);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darkBG);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  cursor: pointer !important;
}

/* Navigation Design */
.navbar {
  background: var(--darkBG);
}

.navbar a {
  color: var(--darkText);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.navbar a:hover {
  color: var(--darkText);
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(110%);
  transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.lightPaper__link {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  background-blend-mode: lighten;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #efefef !important;
}

.mode__changer {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.21);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mode__changer .mode__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mode__changer i {
  color: var(--darkText);
  font-size: 1.2rem;
  color: var(--textPurple);
}

.slider {
  background-color: var(--darkBG);
}

.slider h1 {
  color: var(--darkText);
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.slider p {
  color: var(--darkText);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-right: 8rem;
}

.slider .btn__telegram {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  background-blend-mode: lighten;
  font-weight: 600;
  font-size: 0.9rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: var(--darkText);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  color: #efefef !important;
}

.slider .btn__telegram:hover {
  color: var(--darkText);
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(110%);
  transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.slider .btn__info {
  background: transparent;
  background-blend-mode: lighten;
  font-weight: 600;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: var(--darkText);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.slider .btn__info:hover {
  color: var(--darkText);
  text-decoration: none;
}

.partners h1 {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
}

.partners .partner__img {
  height: 5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.partners .partner__img:hover {
  cursor: pointer;
  -webkit-transform: scale(110%);
  transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.control h1,
.control p {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
}

.control__card {
  background-color: rgba(100, 100, 100, 0.1);
  box-shadow: var(--boxShadow) 5px 5px 15px;
}

.control__card img {
  margin-bottom: 1.5rem;
}

.control__card h2 {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 1.3rem;
}

.control__card p {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 0.8rem;
}

.control__card:hover {
  -webkit-transform: scale(105%);
  transform: scale(105%);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.market__place h2 {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 2rem;
}

.market__place p {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 0.8rem;
  font-weight: 400;
}

.market__place h5 {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 1.2rem;
}

.display__ads h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--darkText);
}

.display__ads p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: var(--darkText);
  font-weight: 400;
  margin-bottom: 4rem;
}

.tokenDist h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--darkText);
}

.tokenDist p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: var(--darkText);
  font-weight: 400;
  margin-bottom: 4rem;
}

.ads__card {
  border: solid 2px;
  border-bottom: none;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    146.97deg,
    #d600a6 7.88%,
    #00beff 163.69%
  );
  height: 6rem;
}

.ads__card h5 {
  color: var(--darkText);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.ads__card p {
  color: var(--darkText);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.seller__section h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-weight: 600;
  margin-bottom: 3rem;
}

.seller__section p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  line-height: 1.5;
  font-weight: 400;
}

.buyer__section h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-weight: 600;
  margin-bottom: 3rem;
}

.buyer__section p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  line-height: 1.5;
  font-weight: 400;
}

.live__platforms h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--darkText);
}

.live__platforms p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: var(--darkText);
  font-weight: 400;
  margin-bottom: 4rem;
}

.live__card {
  background-color: rgba(100, 100, 100, 0.1);
  box-shadow: var(--boxShadow) 5px 5px 15px;
  height: 70vh;
}

.live__card img {
  margin-bottom: 1.5rem;
}

.live__card h2 {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 1.3rem;
}

.live__card p {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 0.8rem;
}

.live__card button {
  background-color: rgba(239, 239, 239, 0.1);
  padding: 1rem;
  text-decoration: none;
  border: none;
  outline: 0;
  color: #d600a6;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: rgba(214, 0, 166, 0.1);
}

.live__card button:hover {
  color: #d600a6;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(110%);
  transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.roadmap h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--darkText);
}

.roadmap p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: var(--darkText);
  font-weight: 400;
  margin-bottom: 4rem;
}

.roadmap .smallLine {
  width: 60%;
  height: auto;
}

.roadmap__card {
  height: 9rem;
  border: solid 2px;
  border-bottom: none;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    146.97deg,
    #d600a6 7.88%,
    #00beff 163.69%
  );
}

.roadmap__card h5 {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 1rem;
}

.roadmap__card ul {
  font-family: "Poppins", sans-serif;
  color: var(--darkText);
  font-size: 0.8rem;
  list-style-type: "-  ";
  padding-left: 15px;
}

.line__img {
  top: 45px;
  left: -40px;
  text-align: center;
}

.line__imgRight {
  top: 45px;
  left: 40px;
  text-align: center;
}

.footer a {
  color: #d600a6;
  padding-right: 1.2rem;
}

.footer a:hover {
  color: #0098cc;
}

.footer a i {
  font-size: 1.2rem;
}

.footer .footer__logo {
  height: 35px;
  width: auto;
}

.footer .navlist a {
  color: var(--darkText);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.footer .navlist a:hover {
  color: var(--darkText);
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(110%);
  transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.footer__bottom p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: var(--darkText);
}

.footer__bottom span {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: var(--darkText);
  padding-right: 1rem;
}

.footer__bottom a {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: var(--darkText);
}

.footer__bottom a:hover {
  color: var(--darkText);
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(110%);
  transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.bread__crumb > .btn__drawer > i {
  font-size: 1.5rem;
  color: var(--darkText);
  font-weight: 700;
}

.btn__drawer {
  background-color: transparent;
  border: none;
  outline: 0;
  /* padding-right: -100px; */
  margin-right: -100px;
}

.drawer__nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.drawer {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3002;
  padding: 1.8rem;
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.drawer__off {
  display: none;
}

.drawer__list {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.drawer__item:last-child {
  border-bottom: #ffe600 solid 0;
}

.drawer__item:first-child {
  border-bottom: #ffe600 solid 0;
}

.drawer__item {
  margin-bottom: 1rem;
  padding-right: 1rem;
  width: 100%;
  text-align: right;
  padding-bottom: 1rem;
}

.drawer__item > a {
  color: #fff;
  font-size: 20px;
  width: 80%;
}

.drawer__item > a:hover {
  color: #fff;
  text-decoration: none;
}

.openApp__btn {
  border: none;
  border-radius: 10px;
  font-size: 13px;
  height: auto;
  width: 60%;
  text-align: center;
  background: var(--darkBG);
  color: var(--darkText);
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.openApp__btn:hover {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
}

.fa-xmark {
  font-size: 1.5rem;
  color: #fff;
}

#btn__xmark {
  background-color: transparent;
  border: none;
  text-align: right;
}

#btn__xmark:hover {
  background-color: transparent !important;
}

.bigLine {
  width: auto;
  height: 100px !important;
}

.bigLineMove {
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.bigLineMove1 {
  margin-left: -5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .slider h1 {
    font-size: 2.5rem;
  }
  .slider p {
    padding: 0;
  }
  .slider .btn__telegram {
    font-size: 0.8rem;
  }
  .slider .btn__info {
    font-size: 0.8rem;
  }
  .control h1 {
    font-size: 2.5rem;
  }
  .control p {
    padding: 0;
  }
  .partners h1 {
    text-align: center;
  }
  .smallLine {
    width: auto;
    height: 100px !important;
  }

  .lineMove {
    margin-left: 5rem;
    margin-bottom: 1rem;
  }

  .lineMove1 {
    margin-left: -5rem;
    margin-bottom: 1rem;
  }
  .live__card {
    height: auto;
  }
  .footer a {
    color: #d600a6;
    padding-right: 0.8rem;
  }
  .footer a:hover {
    color: #0098cc;
  }
  .footer a i {
    font-size: 0.8rem;
  }
  .footer__logo {
    height: 2rem !important;
    width: auto;
  }
  .footer__logolink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */
