@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  background-color: #12131d;
  padding: 0 !important;
  margin: 0;
  left: 0;
  right: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.bgSetting {
  background-color: #12131d;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12131d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  cursor: pointer !important;
}

/* Navigation Design */
.navbar {
  background: #12131d;
}

.navbar a {
  color: #efefef;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.navbar a:hover {
  color: #efefef;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.lightPaper__link {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  background-blend-mode: lighten;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.mode__changer {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.21);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mode__changer .mode__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mode__changer i {
  color: #efefef;
  font-size: 1.2rem;
}

.slider {
  background-color: #12131d;
}

.slider h1 {
  color: #efefef;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.slider p {
  color: #efefef;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-right: 8rem;
}

.slider .btn__telegram {
  background: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  background-blend-mode: lighten;
  font-weight: 600;
  font-size: 0.9rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #efefef;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.slider .btn__telegram:hover {
  color: #efefef;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.slider .btn__info {
  background: transparent;
  background-blend-mode: lighten;
  font-weight: 600;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #efefef;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.slider .btn__info:hover {
  color: #efefef;
  text-decoration: none;
}

.partners h1 {
  font-family: "Poppins", sans-serif;
  color: #efefef;
}

.partners .partner__img {
  height: 5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.partners .partner__img:hover {
  cursor: pointer;
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.control h1,
.control p {
  font-family: "Poppins", sans-serif;
  color: #efefef;
}

.control__card {
  background-color: rgba(239, 239, 239, 0.1);
}

.control__card img {
  margin-bottom: 1.5rem;
}

.control__card h2 {
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-size: 1.3rem;
}

.control__card p {
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-size: 0.8rem;
}

.control__card:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.market__place h2 {
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-size: 2rem;
}

.market__place p {
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-size: 0.8rem;
  font-weight: 400;
}

.market__place h5 {
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-size: 1.2rem;
}

.display__ads h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #efefef;
}

.display__ads p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #efefef;
  font-weight: 400;
  margin-bottom: 4rem;
}

.ads__card {
  border: 1px solid rgba(239, 239, 239, 0.1);
  border-bottom: none;
}

.ads__card h5 {
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.ads__card p {
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.seller__section h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-weight: 600;
  margin-bottom: 3rem;
}

.seller__section p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  color: #efefef;
  line-height: 1.5;
  font-weight: 400;
}

.buyer__section h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-weight: 600;
  margin-bottom: 3rem;
}

.buyer__section p {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  color: #efefef;
  line-height: 1.5;
  font-weight: 400;
}

.live__platforms h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #efefef;
}

.live__platforms p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #efefef;
  font-weight: 400;
  margin-bottom: 4rem;
}

.live__card {
  background-color: rgba(239, 239, 239, 0.1);
}

.live__card img {
  margin-bottom: 1.5rem;
}

.live__card h2 {
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-size: 1.3rem;
}

.live__card p {
  font-family: "Poppins", sans-serif;
  color: #efefef;
  font-size: 0.8rem;
}

.live__card a {
  background-color: rgba(239, 239, 239, 0.1);
  padding: 1rem;
  text-decoration: none;
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
}

.live__card a:hover {
  color: #efefef;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */