@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  $darkBG: #12131d;
  $darkText: #efefef;
  $gradientBG: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  $fontStack: "Poppins", sans-serif;
  $textPurple: #d600a6;
}

[data-theme="dark"] {
  $darkBG: #efefef;
  $darkText: #12131d;
  $gradientBG: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  $fontStack: "Poppins", sans-serif;
  $textPurple: #d600a6;
}

.react-switch:checked + html {
  $darkBG: #efefef;
  $darkText: #12131d;
  $gradientBG: linear-gradient(146.97deg, #d600a6 7.88%, #00beff 163.69%);
  $fontStack: "Poppins", sans-serif;
  $textPurple: #d600a6;
}

@mixin gradientBorder {
  border: solid 2px;
  border-bottom: none;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    146.97deg,
    #d600a6 7.88%,
    #00beff 163.69%
  );
}

@mixin hoverTrans {
  cursor: pointer;
  transform: scale(110%);
  transition: all 0.25s;
}

html {
  background-color: $darkBG;
  padding: 0 !important;
  margin: 0;
  left: 0;
  right: 0;
  font-family: $fontStack;
  font-size: 1rem;
  font-weight: 500;
}

.bgSetting {
  background-color: $darkBG;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12131d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gradientBG;
  border-radius: 10rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gradientBG;
  cursor: pointer !important;
}

/* Navigation Design */

.navbar {
  background: $darkBG;
  a {
    color: $darkText;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    // border-bottom: 2px solid transparent;
    font-size: 12px;

    &:hover {
      color: $darkText;
      text-decoration: none;
      @include hoverTrans();
    }
  }
}

.lightPaper__link {
  background: $gradientBG;
  background-blend-mode: lighten;
  font-weight: 700;
  display: grid;
  place-content: center;
}

// input[type="checkbox"] {
//   height: 0;
//   width: 0;
//   visibility: hidden;
// }

// label {
//   cursor: pointer;
//   text-indent: -9999px;
//   width: 40px;
//   height: 25px;
//   background: #efefef;
//   display: block;
//   border-radius: 100px;
//   position: relative;
//   &:after {
//     content: "";
//     position: absolute;
//     top: 2.5px;
//     left: 2.5px;
//     width: 20px;
//     height: 20px;
//     background: #0e0e0e;
//     border-radius: 90px;
//     transition: all 0.3s;
//   }
// }

// input:checked + label {
//   background: #efefef;
// }

// input:checked + label:after {
//   left: calc(100% - 2.5px);
//   transform: translateX(-100%);
// }

// label:active:after {
//   width: 38px;
// }

.mode__changer {
  width: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  .mode__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  i {
    color: #efefef;
    font-size: 1.2rem;
  }
}

// Slider

.slider {
  background-color: $darkBG;
  h1 {
    color: $darkText;
    font-size: 4rem;
    font-family: $fontStack;
    font-weight: 700;
  }
  p {
    color: $darkText;
    font-size: 1rem;
    font-family: $fontStack;
    font-weight: 400;
    padding-right: 8rem;
  }
  .btn__telegram {
    background: $gradientBG;
    background-blend-mode: lighten;
    font-weight: 600;
    font-size: 0.9rem;
    display: grid;
    place-content: center;
    color: $darkText;
    text-decoration: none;
    font-family: $fontStack;
    cursor: pointer;
    &:hover {
      color: $darkText;
      text-decoration: none;
      @include hoverTrans();
    }
  }

  .btn__info {
    background: transparent;
    background-blend-mode: lighten;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: $darkText;
    text-decoration: none;
    font-family: $fontStack;
    cursor: pointer;
    &:hover {
      color: $darkText;
      text-decoration: none;
    }
  }
}

// Partners

.partners {
  h1 {
    font-family: $fontStack;
    color: $darkText;
  }
  .partner__img {
    height: 5rem;
    display: grid;
    place-content: center;
    filter: brightness(150%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    &:hover {
      @include hoverTrans();
    }
  }
}

// Control

.control {
  h1,
  p {
    font-family: $fontStack;
    color: $darkText;
  }
}

.control__card {
  background-color: rgba($color: $darkText, $alpha: 0.1);
  img {
    margin-bottom: 1.5rem;
  }
  h2 {
    font-family: $fontStack;
    color: $darkText;
    font-size: 1.3rem;
  }
  p {
    font-family: $fontStack;
    color: $darkText;
    font-size: 0.8rem;
  }
  &:hover {
    transform: scale(105%);
    cursor: pointer;
    transition: all 0.5s;
  }
}

// Market Place

.market__place {
  h2 {
    font-family: $fontStack;
    color: $darkText;
    font-size: 2rem;
  }
  p {
    font-family: $fontStack;
    color: $darkText;
    font-size: 0.8rem;
    font-weight: 400;
  }
  h5 {
    font-family: $fontStack;
    color: $darkText;
    font-size: 1.2rem;
  }
}

// Display Ads

.display__ads {
  h1 {
    font-family: $fontStack;
    font-weight: 600;
    color: $darkText;
  }
  p {
    font-family: $fontStack;
    font-size: 0.8rem;
    color: $darkText;
    font-weight: 400;
    margin-bottom: 4rem;
  }
}

.tokenDist {
  h1 {
    font-family: $fontStack;
    font-weight: 600;
    color: $darkText;
  }
  p {
    font-family: $fontStack;
    font-size: 0.8rem;
    color: $darkText;
    font-weight: 400;
    margin-bottom: 4rem;
  }
}

.ads__card {
  @include gradientBorder();
  height: 6rem;
  h5 {
    color: $darkText;
    font-family: $fontStack;
    font-size: 1rem;
  }
  p {
    color: $darkText;
    font-family: $fontStack;
    font-size: 0.8rem;
  }
}

// Seller Section

.seller__section {
  h2 {
    font-size: 2rem;
    font-family: $fontStack;
    color: $darkText;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  p {
    font-size: 0.9rem;
    font-family: $fontStack;
    color: $darkText;
    line-height: 1.5;
    font-weight: 400;
  }
}

.buyer__section {
  h2 {
    font-size: 2rem;
    font-family: $fontStack;
    color: $darkText;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  p {
    font-size: 0.9rem;
    font-family: $fontStack;
    color: $darkText;
    line-height: 1.5;
    font-weight: 400;
  }
}

// Live Platforms

.live__platforms {
  h1 {
    font-family: $fontStack;
    font-weight: 600;
    color: $darkText;
  }
  p {
    font-family: $fontStack;
    font-size: 0.8rem;
    color: $darkText;
    font-weight: 400;
    margin-bottom: 4rem;
  }
}

.live__card {
  background-color: rgba($color: $darkText, $alpha: 0.1);
  height: 70vh;
  img {
    margin-bottom: 1.5rem;
  }
  h2 {
    font-family: $fontStack;
    color: $darkText;
    font-size: 1.3rem;
  }
  p {
    font-family: $fontStack;
    color: $darkText;
    font-size: 0.8rem;
  }
  button {
    background-color: rgba($color: $darkText, $alpha: 0.1);
    padding: 1rem;
    text-decoration: none;
    border: none;
    outline: 0;
    color: $textPurple;
    font-family: $fontStack;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: rgba($color: $textPurple, $alpha: 0.1);
    &:hover {
      color: $textPurple;
      text-decoration: none;
      @include hoverTrans();
    }
  }
}

// Roadmap

.roadmap {
  h1 {
    font-family: $fontStack;
    font-weight: 600;
    color: $darkText;
  }
  p {
    font-family: $fontStack;
    font-size: 0.8rem;
    color: $darkText;
    font-weight: 400;
    margin-bottom: 4rem;
  }

  .smallLine {
    width: 60%;
    height: auto;
  }
}

.roadmap__card {
  height: 9rem;
  @include gradientBorder();
  h5 {
    font-family: $fontStack;
    color: $darkText;
    font-size: 1rem;
  }
  ul {
    font-family: $fontStack;
    color: $darkText;
    font-size: 0.8rem;
    list-style-type: "-  ";
    padding-left: 15px;
  }
}

.line__img {
  position: absolute;
  top: 45px;
  left: -40px;
  text-align: center;
}

.line__imgRight {
  position: absolute;
  top: 45px;
  left: 40px;
  text-align: center;
}

// Footer

.footer {
  a {
    color: $textPurple;
    padding-right: 1.2rem;
    &:hover {
      color: darken($color: #00beff, $amount: 10);
    }
    i {
      font-size: 1.2rem;
    }
  }

  .footer__logo {
    height: 35px;
    width: auto;
  }
  .navlist {
    a {
      color: $darkText;
      font-family: $fontStack;
      font-size: 0.8rem;
      &:hover {
        color: $darkText;
        text-decoration: none;
        @include hoverTrans();
      }
    }
  }
}

.footer__bottom {
  p {
    font-family: $fontStack;
    font-size: 0.8rem;
    color: $darkText;
  }
  span {
    font-family: $fontStack;
    font-size: 0.8rem;
    color: $darkText;
    padding-right: 1rem;
  }
  a {
    font-family: $fontStack;
    font-size: 0.8rem;
    color: $darkText;
    &:hover {
      color: $darkText;
      text-decoration: none;
      @include hoverTrans();
    }
  }
}

// Wallet

// Side Drawer Nav

.bread__crumb > .btn__drawer > i {
  font-size: 1.5rem;
  color: $darkText;
  font-weight: 700;
}

.btn__drawer {
  background-color: transparent;
  border: none;
  outline: 0;
  padding-right: 0;
  margin-right: 0;
}

.drawer__nav {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.drawer {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3002;
  padding: 1.8rem;
  background: $gradientBG;
  box-sizing: border-box;
  transition: all ease-in 5s;
}

.drawer__off {
  display: none;
}

.drawer__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drawer__item:last-child {
  border-bottom: #ffe600 solid 0;
}

.drawer__item:first-child {
  border-bottom: #ffe600 solid 0;
}

.drawer__item {
  margin-bottom: 1rem;
  padding-right: 1rem;
  // border-bottom: $darkText solid 2px;
  width: 100%;
  text-align: right;
  padding-bottom: 1rem;
}

.drawer__item > a {
  color: #fff;
  font-size: 20px;
  width: 80%;
}

.drawer__item > a:hover {
  color: #fff;
  text-decoration: none;
}

.openApp__btn {
  border: none;
  border-radius: 10px;
  font-size: 13px;
  height: auto;
  width: 40%;
  text-align: center;
  background: $darkBG;
  color: $darkText;
  padding: 1rem;
  font-family: $fontStack;
}

.openApp__btn:hover {
  background: $gradientBG;
}

.fa-xmark {
  font-size: 1.5rem;
  color: #fff;
}

#btn__xmark {
  background-color: transparent;
  border: none;
  text-align: right;
  &:hover {
    background-color: transparent !important;
  }
}

// Responsiveness

@media screen and (max-width: 480px) {
  .slider {
    h1 {
      font-size: 2.5rem;
    }
    p {
      padding: 0;
    }

    .btn__telegram {
      font-size: 0.8rem;
    }
    .btn__info {
      font-size: 0.8rem;
    }
  }

  .control {
    h1 {
      font-size: 2.5rem;
    }
    p {
      padding: 0;
    }
  }

  .partners {
    h1 {
      text-align: center;
    }
  }

  .smallLine {
    width: auto;
    height: 100px !important;
  }

  .lineMove {
    margin-left: 5rem;
    margin-bottom: 1rem;
  }
  .lineMove1 {
    margin-left: -5rem;
    margin-bottom: 1rem;
  }

  .live__card {
    height: auto;
  }

  .footer {
    a {
      color: $textPurple;
      padding-right: 0.8rem;
      &:hover {
        color: darken($color: #00beff, $amount: 10);
      }
      i {
        font-size: 0.8rem;
      }
    }
  }
  .footer__logo {
    height: 2rem !important;
    width: auto;
  }

  .footer__logolink {
    display: flex;
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
  }
}
